/* Start default themes  */

.dropdown-menu {
    border-top: 1px solid #d31103;
}
.nav-link:hover,
.carousel-indicators .active,
.option-box .color-option ul li,
.option-box .gear-check,
#carouselExampleCaptions .btn-primary,
.our-skills .btn-primary
{
    
    background-color: #d31103;
}
.option-box .color-option,
.testimonials .carousel-indicators li img,
#carouselExampleCaptions .btn-primary,
.our-skills .btn-primary
{
    border: 2px solid #d31103;

}

.dropdown-item:hover,
.dropdown-menu,
.dropdown-divider,
.about h1 span,
.about h3 span,
.about h4 span,
.price-table .price-box p,
.footer h3,
.footer .copyright span,
.screen,
.field i ,
.field h2 ,
.field p,
#scroll-top i,
form.d-flex .btn,
.hvr-pop span{
    color: #d31103;

}
.price-table .price-box:hover p,
form.d-flex .btn{
    border:1px solid #d31103;
    
}

